@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica'),
    url('../fonts/Helvetica.woff2') format('woff2'),
    url('../fonts/Helvetica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica'),
    url('../fonts/Helvetica-Bold.woff2') format('woff2'),
    url('../fonts/Helvetica-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/*.Header*/

.container {
  max-width: 1376px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.header__container {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-top: 12px;
}

.logo__img {
  width: 70px;
  height: 75px;
}

.nav__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.nav__link--item,
.contacts {
  color: rgb(33, 37, 41);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-decoration: none;
}

.nav__link--item:not(:last-child) {
  margin-bottom: 8px;
}

.burger-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 14px 0;
}

.burger-icon {
  display: block;
  width: 24px;
  height: 1px;
  background-color: rgb(0, 0, 0);
  position: relative;
}

.burger-icon:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  transition: transform 0.2s ease-in-out;
}

.burger-icon:after {
  content: "";
  display: block;
  width: 14px;
  height: 100%;
  background-color: inherit;
  position: absolute;
  right: 0;
  transition: transform 0.2s ease-in-out;
}

.burger-icon:before {
  top: -8px;
}

.burger-icon:after {
  bottom: -8px;
}

/*.Hero*/

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 120px;
}

.hero__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 220px;
}

.hero__text {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.hero__title {
  width: 794px;
  color: rgb(33, 37, 41);
  font-family: 'Helvetica', sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.hero__desc {
  width: 445px;
  height: 84px;
  color: rgb(33, 37, 41);
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

.hero__link {
  color: rgb(33, 37, 41);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.hero__bottom {
  position: relative;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.hero__img--right {
  position: absolute;
  width: 678px;
  height: 809px;
  right: 0;
}

.hero__img--left {
  width: 329px;
  height: 493px;
}

/*.About*/

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}

.about__container {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.about__title {
  display: block;
  max-width: 562px;
  color: rgb(33, 37, 41);
  font-family: 'Helvetica', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 66px;
  text-align: left;
}

.about__title--small {
  display: none;
}

.about__desc {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.about__text {
  width: 679px;
  height: 208px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 44px;
}

.about__text--row {
  width: 446px;
  color: rgb(33, 37, 41);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

.about__info {
  height: 308px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

.about__info--title {
  color: rgb(33, 37, 41);
  font-family: 'Helvetica', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
}

.about__info--text {
  width: 146px;
  color: rgb(33, 37, 41);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

/* Steps */

.steps {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}

.steps__container {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.steps__title {
  color: rgb(33, 37, 41);
  font-family: 'Helvetica', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 66px;
  text-align: left;
  white-space: nowrap;
}

.steps__items {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.steps__items--text {
  width: 325px;
  color: rgb(33, 37, 41);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-bottom: 44px;
}

.step {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 24px 0;
}

.step::after {
  content: '';
  border: 1px solid rgb(0, 0, 0);
  position: absolute;
  width: 678px;
  height: 0;
  bottom: 0;
}

.step__title {
  width: 328px;
  color: rgb(33, 37, 41);
  font-family: 'Helvetica', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
}

.step__text {
  width: 329px;
  color: rgb(33, 37, 41);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

/* Projects */
.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}

.projects__container {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

.project__title {
  color: rgb(33, 37, 41);
  font-family: 'Helvetica', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 66px;
  text-align: left;
  margin-bottom: 32px;
}

.projects__grid {
  display: grid;
  grid-template-rows: repeat(2, 580px);
  grid-template-columns: repeat(3, 445px);
  gap: 20px;
}

.project {
  position: relative;
  display: inline-block;
}

.project__img {
  width: 445px;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 66px;
  background: rgba(33, 37, 41, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}

.project:hover .overlay {
  opacity: 1;
}

.description {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin: 0;
}

.arrow {
  width: 12px;
  height: 12px;
}

/* Testimonials */

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}

.testimonials__container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

.testimonials__title {
  color: rgb(33, 37, 41);
  font-family: 'Helvetica', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 66px;
  text-align: left;
  margin-bottom: 32px;
}

.testimonials__grid {
  display: grid;
  grid-template-columns: repeat(3, 445px);
  gap: 20px;
}

.testimonial__item {
  padding: 45px 40px 60px;
  border: 1px solid rgb(0, 0, 0);
}

.testimonial {
  height: 222px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.testimonial__icon {
  width: 40px;
  height: 30px;
}

.testimonial__item--title {
  color: rgb(33, 37, 41);
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
}

.testimonial__text {
  color: rgb(33, 37, 41);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
}

/* Form */

.form__block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}

.form__container {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.form {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  height: 463px;
}

.form__title {
  color: rgb(0, 0, 0);
  font-family: 'Helvetica', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 66px;
  text-align: left;
  margin-bottom: 32px;
}

.form__text {
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 140%;
  text-align: left;
  margin-bottom: 72px;
}

.input__form {
  width: 562px;
  height: 31px;
  border: none;
  border-bottom: 1px solid rgb(33, 37, 41);
  margin-bottom: 16px;
}

.input__form:last-of-type {
  margin-bottom: 24px;
}

.input__form::placeholder {
  color: rgb(33, 37, 41);
  font-size: 16px;
  line-height: 19px;
  text-align: left;
}

.form__btn {
  background: rgb(33, 37, 41);
  padding: 12px 20px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  margin-bottom: 40px;
  cursor: pointer;
}

.form__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__link {
  width: 100%;
  height: 100%;
}

.form__link:not(:last-child) {
  margin-right: 8px;
}

/* Footer */

.footer {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-bottom: 16px;
}

.footer__info {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.copy__right {
  color: rgb(33, 37, 41);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
}

.copy__right:not(:last-child) {
  margin-bottom: 4px;
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__link {
  color: rgb(33, 37, 41);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

.footer__link::after {
  content: "/";
  margin: 0 5px;
}

.footer__link:last-child::after {
  content: none;
}

.social {
  width: 234px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer__social {
  color: rgb(33, 37, 41);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
}

/* Responsive */
@media (max-width:375px) {
  .container {
    max-width: 344px;
    margin: 0 auto;
  }

  /* Header */

  .header {
    max-width: 343px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .logo__img {
    width: 39px;
    height: 41px;
  }

  .nav__link {
    display: none;
  }

  .nav__link.active {
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .contacts {
    display: none;
  }

  .burger-btn {
    display: block;
  }

  /* Hero */

  .hero {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .hero__top {
    margin: 0 auto;
    flex-direction: column;
    align-items: start;
    margin-bottom: 24px;
  }

  .hero__text {
    width: 100%;
  }

  .hero__title {
    max-width: 100%;
    font-size: 32px;
    margin-bottom: 20px;
  }

  .hero__desc {
    width: 328px;
    height: auto;
    font-size: 16px;
    margin-bottom: 24px;
  }

  .hero__bottom {
    position: static;
    align-items: center;
    justify-content: center;
  }

  .hero__img--left {
    display: none;
  }

  .hero__img--right {
    position: static;
    width: 343px;
    height: 261px;
    background-size: cover;
  }

  /* About */

  .about {
    margin-bottom: 48px;
  }

  .about__title {
    display: none;
  }

  .about__container {
    flex-direction: column;
  }

  .about__title--small {
    display: block;
    color: rgb(33, 37, 41);
    font-family: 'Helvetica', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 39px;
    text-align: left;
    margin-bottom: 20px;
  }

  .about__desc {
    width: 100%;
  }

  .about__text {
    width: 100%;
    height: auto;
    margin-bottom: 32px;
  }

  .about__text--row {
    width: 100%;
    color: rgb(33, 37, 41);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;

  }

  .about__text--row:not(:last-child) {
    margin-bottom: 16px;
  }

  /* Steps */

  .steps {
    margin-bottom: 48px;
  }

  .steps__container {
    flex-direction: column;
  }

  .steps__title {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 20px;
  }

  .steps__items {
    width: 100%;
  }

  .steps__items--text {
    margin-bottom: 28px;
  }

  .step {
    flex-direction: column;
    padding: 24px 0;
  }

  .step::after {
    width: 329px;
  }

  .step__title {
    max-width: 100%;
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 20px;
    white-space: nowrap;
  }

  .step__text {
    width: 100%;
    font-size: 16px;
  }

  /* Projects */

  .projects {
    width: 100%;
    height: auto;
    margin-bottom: 48px;
    overflow: hidden;
  }


  .project__title {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 32px;
  }

  .projects__grid {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .project {
    width: 100%;
    height: auto;
  }

  .project__img {
    width: 252px;
    height: 328px;
  }

  /* Testimonials */

  .testimonials {
    margin-bottom: 48px;
  }

  .testimonials__title {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 20px;
  }

  .testimonials__grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .testimonial__item {
    padding: 37px 33px;
  }

  .testimonial {
    height: auto;
  }

  .testimonial__icon {
    width: 32px;
    height: 25px;
    margin-bottom: 36px;
  }

  .testimonial__item--title {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
  }

  /* Form */

  .form__img {
    display: none;
  }

  .form {
    height: auto;
  }

  .form__title {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 20px;
  }

  .form__text {
    margin-bottom: 32px;
  }

  .input__form {
    width: 342px;
    height: 31px;
    margin-bottom: 16px;
  }

  /* Footer */

  .footer {
    align-items: center;
    flex-direction: column-reverse;
  }

  .footer__info {
    align-items: center;
  }

  .footer__links {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .footer__link {
    margin-bottom: 8px;
  }

  .footer__link::after {
    display: none;
  }

  .social {
    margin-bottom: 24px;
  }
}